<a href="https://colab.research.google.com/github/dbckz/dissertation/blob/master/notebooks/perspective_emoji_evaluation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
import pandas as pd
import ast
import os
import numpy as np
import matplotlib.pyplot as plt
from wordcloud import WordCloud
from tqdm import tqdm
from google.colab import drive
import plotly.graph_objects as go
import dateutil

In [2]:
drive.mount('/content/drive')

Mounted at /content/drive

In [46]:
# Up the pandas display limits so printed dataframes aren't so truncated
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 100)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)
pd.set_option('display.max_info_rows', 100)
pd.set_option('display.max_info_columns', 100)

In [4]:
root_path = "/content/drive/MyDrive/University/Dissertation/data_collection"

In [8]:
reviewed = pd.read_csv(root_path + "/emoji_tweets_reviewed.csv")
reviewed

               tweet_id                                         tweet_text
0   1407777233482227722            @RomeluLukaku9 bad players cochon ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’
1   1407988077734281217            @kimpembe_3 @equipedefrance Monkey ğŸŒğŸŒğŸŒğŸŒ
2   1407998669404704768  @zs112s @iababadi @novaturieant @AntoGriezmann...
3   1409634139532234760                                @KMbappe Mr Melon ğŸ‰
4   1409759704872534017  @KMbappeTeam @TeamCRonaldo @KMbappe No It is n...
..                  ...                                                ...
79  1415407304980193281                        @Sanchooo10 Fuckin monkey ğŸ’
80  1415433074410762242  @NidgeNuneaton @JackGrealish LOOSERS ğŸ†ğŸ†ğŸ† COMIN...
81  1415802879441522688  @WaynevRaynor @martinhabs4 @aa_mcintosh22 @Eng...
82  1416471755452002313     @Arsenal @EddieNketiah9 @kierantierney1 Sell ğŸ’
83  1416795591653347331                Hi monkey ğŸ’ https://t.co/lCGjaOGFhz

[84 rows x 2 columns]

In [9]:
original = pd.read_csv(root_path + "/emoji_tweets_reviewed.csv")
reviewed

                 tweet_id                                         tweet_text
0     1406163547311292416  @talkSPORT @JackGrealish @jmcginn7 Why didnâ€™t ...
1     1406176578262941698  @ChelseaFC @BenChilwell Yes but Trippier is be...
2     1406206885557047302  @mattkelly_uk @DeJongFrenkie21 @mattkelly_uk H...
3     1406253728865435649  @10DavidTurnbull When your team is so bad you ...
4     1406257662199746563  @PigeonPeter1 @garyoconnor77 @andy_murray @bil...
...                   ...                                                ...
1070  1416099311616679949  @FabrizioRomano is the @Sanchooo10 to @ManUtd ...
1071  1416104558372265988  All these girl's ravin about @masonmount_10  @...
1072  1416153174541492230  felt cute might buy later ğŸ™ˆ @JackGrealish http...
1073  1416157907209662476  @PunditAngry @England @JPickford1 Why would I ...
1074  1416162650245971969                    @_OlivierGiroud_ My fine baby ğŸ™ˆ

[1075 rows x 2 columns]

In [37]:
persp_df = pd.read_csv(root_path + '/regression_tweets.csv',
                      usecols = [
                                  'tweet_id',
                                  'persp_over_threshold'
                      ])

In [40]:
persp_df = persp_df[persp_df['persp_over_threshold']]

In [47]:
persp_df.merge(reviewed, 'inner', 'tweet_id')['tweet_text']

0                                                                              @AntoGriezmann @Dembouz Heyï¼DembÃ©lÃ©ğŸ–• Heyï¼Griezmann ğŸ–• Fucking niggerğŸ¦ Fucking n White pigğŸ· You guys are gay guysğŸ¥° You guys are Mother fuckerğŸ–• ğŸ¤ªğŸ¤ªğŸ¤ªğŸ¤ªğŸ¤ªğŸ¤ªğŸ¤ª
1                                                                                                     @AntoGriezmann @equipedefrance U monkey ğŸµğŸµğŸµ!!! Laugh at stupid joke makes u dumb as hell!!! Get ur head out of ur ass dummy!!
2                                                                                                                                 @AntoGriezmann Don't pretend to be honestğŸ’you always call black people chimps in privateğŸµyou cunt
3                                                                                                                                                                                   @sterling7 @philthyart @England DIVING NIGGER ğŸµ
4                                                                                                                                                                             @goal @sterling7 fuckin cunt , fucking diver .. ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’
5                                                                                                                                                                                                @sterling7 Your good dive niggağŸ’©ğŸ™ŠğŸ™Š
6                                                                                                                                                               @MarcusRashford @Sanchooo10  Niggers ğŸ’ğŸ’  #England  #UEFA  #ENGvsITA
7                                                                                                    @BukayoSaka87 FUCK BLACK LIVES MATTER FUCK YOU TOO BLACK APEğŸ¦§ğŸŒğŸ¦§ğŸŒ ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’
8                                                                                      @BukayoSaka87 FUCK YOU AND YOUR PENALTY KICK YOU MUST BACK TO THE JUNGLEğŸµğŸµğŸµ ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’ğŸ’
9                                                                                                                                                                                @SlaverMr @BukayoSaka87 Fuck that useless nigger ğŸµ
10    Fuck you you fucking black monkeys go back to your disgusting countries and never come back,cost us the hole euros fucking niggerğŸ’ğŸ¤¬@MarcusRashford @Sanchooo10  and you little prick @BukayoSaka87 #EuroFinal #Euro2021 ğŸ¤¬ğŸ’ğŸ’ğŸ’ğŸ’
Name: tweet_text, dtype: object